@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#zegar {
  display: flex;
  justify-content: center;
  font-size: 160px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  background-color: #b51f42;
  border-radius: 40px;
  margin-top: 160px;
  margin-left: 60px;
  margin-right: 60px;
  text-shadow: 4px 4px black;
}
